.list{
    display: flex;
    
    .show{
        #scroll-btn {
            display: inline-block;
            background-color: #FF9800;
            width: 50px;
            height: 50px;
            text-align: center;
            border-radius: 4px;
            position: fixed;
            bottom: 30px;
            right: 30px;
            transition: background-color .3s, 
            opacity .5s, visibility .5s;
            opacity: 0;
            visibility: hidden;
            z-index: 1000;
            color: #fff;
            font-weight: normal;
            font-style: normal;
            font-size: 2.2em;
            line-height: 50px;
            padding-bottom: 5px;

              &:hover {
                cursor: pointer;
                background-color: #333;
              }
              
              &:active {
                background-color: #555;
              }
          }

          #scroll-btn.display {
            opacity: 1;
            visibility: visible;
          }

        .list-table{
            tr{
                td, th{
                    padding: 1.5vh 1.5vw;
                    min-width: 7vw;

                    img.icon{
                        height: 20px;
                    }
                }

                .hidden{
                    visibility: hidden;
                }

                &:hover td{
                    background-color: lightgray;
                    visibility: visible;
                }
            }
        }
    }

    .add, 
    .edit{
        display: flex;
        flex-direction: column;

        label{
            margin: 5px 0;
        }
    }
}