.list{
    display: flex;
    
    .show{
        .list-table{
            tr{
                td, th{
                    padding: 1.5vh 1.5vw;
                    min-width: 7vw;

                    img.icon{
                        height: 20px;
                    }
                }

                .hidden{
                    visibility: hidden;
                }

                &:hover td{
                    background-color: lightgray;
                    visibility: visible;
                }
            }
        }
    }

    .add, 
    .edit{
        display: flex;
        flex-direction: column;

        label{
            margin: 5px 0;
        }
    }
}