.list{
    display: flex;

    .show{
        border: 1px solid black;
        border-collapse: collapse;

        td,
        th{
            border: 1px solid black;
        }
    }

    .add, 
    .edit{
        display: flex;
        flex-direction: column;

        label{
            margin: 5px 0;
        }
    }
}